<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <nav class="nav--main" data-state="closed">
      <ul>
        <li class="nav--close">
          <a href="#">
            <img data-src="{{asset "iconic/svg/smart/x.svg"}}" class="iconic iconic-md" alt="x">
          </a>
        </li>
        <li>
          <a href="/">
            <img class="iconic iconic-md" title="home" data-src="{{asset "iconic/svg/smart/home.svg"}}">
            <span>Home</span></a>
        </li>
        <li>
          <a href="/about">
            <img class="iconic iconic-md" data-gender="male" title="person" data-src="{{asset "iconic/svg/smart/person.svg"}}">
            <span>About</span>
          </a>
        </li>
        <li>
          <a href="/tag/portfolio">
            <img class="iconic iconic-md" title="camera rangefinder" data-src="{{asset "iconic/svg/smart/camera-rangefinder.svg"}}">
            <span>Portfolio</span>
          </a>
        </li>
        <li>
          <a href="#content" data-offset="-45">
            <img class="iconic iconic-md" title="inkwell" data-src="{{asset "iconic/svg/smart/inkwell.svg"}}">
            <span>Journal</span>
          </a>
        </li>
        <li>
          <a href="{{@blog.url}}/rss/">
            <img class="iconic iconic-md" title="rss" data-src="{{asset "iconic/svg/smart/rss.svg"}}">
            <span>Subscribe</span>
          </a>
        </li>
      </ul>
    </nav>

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer clearfix">
      <section class="copyright">
        <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}
      </section>
      <section class="newspring">
        <a href="//newspring.cc" target="_blank">I <img class="iconic iconic--fluid" title="heart" data-src="{{asset "iconic/svg/smart/heart.svg"}}"> My Church</a>
      </section>
      <section class="poweredby">
        Custom Theme by <a href="https://engineandirons.co">Engine &amp; Irons Design Co</a>
      </section>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Probie }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/iconic.min.js"}}"></script>
    <script type="text/javascript" src="//cdn.muut.com/1/moot.min.js"></script>

    <script>
      // Grab a handle to IconicJS and make some settings
      var iconic = IconicJS({
        autoInjectSelector: 'img.iconic',
        pngFallback: '{{asset "iconic/png"}}',
        each: function (svg) {
          console.log('Injected an SVG! ' + svg.id);
        },
        autoInjectDone: function (count) {
          console.log('Auto injection of ' + count + ' SVGs complete. We did it.');
        }
      });

      var nav = document.querySelector('.nav--toggle');
      var navClose = document.querySelector('.nav--close');
      var toggleState = function (elem, one, two) {
        var elem = document.querySelector(elem);
        elem.setAttribute('data-state', elem.getAttribute('data-state') === one ? two : one);
      };

      nav.onclick = function (e) {
        toggleState('.nav--main', 'closed', 'open');
        e.preventDefault();
      };

      navClose.onclick = function (e) {
        toggleState('.nav--main', 'closed', 'open');
        e.preventDefault();
      };
    </script>

</body>
</html>
